---
import { navList } from '../state'
import Hamburger from './Hamburger.astro'
import List from './List.astro'
import LoginBtn from '../components/LoginBtn.astro'
---

<header
	x-on:resize.window="open = open && isMobile, isMobile = window.innerWidth <= 768"
	x-data="{open: false, isMobile: window.innerWidth <= 768}"
	class="z-20 w-screen border-b border-gray-600 border-opacity-40"
>
	<nav class="flex h-[74px] items-center justify-between px-8 max-[768px]:px-4">
		<p class="w-full font-semibold tracking-wide">upstash</p>
		<template x-if="!isMobile">
			<ul class="flex" role="list">
				{navList.map(({ id, text, url }) => <List id={id} text={text} url={url} />)}
			</ul>
		</template>
		<template x-if="!isMobile">
			<div class="flex w-full justify-end">
				<LoginBtn />
			</div>
		</template>
		<template x-if="isMobile">
			<Hamburger />
		</template>
		<template x-if="open && isMobile">
			<div
				class="absolute left-0 top-[81px] z-50 flex h-max w-screen select-none flex-col items-center justify-evenly bg-[#09090b] pb-4"
			>
				<ul role="list" class="flex w-full flex-col items-center pb-2">
					{navList.map(({ id, text, url }) => <List id={id} text={text} url={url} />)}
				</ul>
				<div class="w-full px-4">
					<LoginBtn />
				</div>
			</div>
		</template>
	</nav>
</header>
<!-- bg-[] -->
